<template name="systeminfo">
    <form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-sm-2">系统信息</label>
			<div class="col-sm-6">
				<input class="form-control" id="info" value="{{systeminfo.info}}">
			</div>

            <button class="btn btn-success" id="baocun">保存</button>
            <button class="btn btn-danger" id="shanchu">删除</button>
            <button class="btn btn-default" id="default">填充默认信息</button>
		</div>
    </form>
</template>
